[user]
	name = Meng-Ying Yang
	email = ymy1019@gmail.com
[color]
	ui = true
	log = auto

[alias]
    cm = commit -m
	lo = log --graph --pretty=format:'%Cred%h%Creset %C(blue)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd, ad: %ad)%Creset' --abbrev-commit --date=short
    co = checkout
    st = status
    us = reset HEAD
    uc = reset HEAD^ --soft
    df = diff
    cf = commit --fixup
    dfs = diff --staged
    rbi = rebase --autosquash -i
    lf = ls-files
    pl = pull
    pu = push
    pf = push -f
[core]
	editor = vim
	excludesfile = ~/.gitignore
[grep]
	lineNumber = true
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
