[user]
	name = Meng-Ying Yang
	email = ymy1019@gmail.com
[color]
	ui = true
	log = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[grep]
	lineNumber = true
[push]
	default = simple
#[url "git@github.com:"]
#	insteadOf = https://github.com/
